* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #00001e;
  color: rgb(255, 255, 255);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form {
  color: #fff;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 400px;
  padding: 50px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.inputContainer {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 100%;
  height: 50px;
}

.fInput {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid rgb(48, 45, 45);
  background-color: black;
  padding: 10px;
  color: white;
  transition: 0.1s;
  position: absolute;
}

.fInput:focus {
  border: 1px rgb(0, 136, 255) solid;
  outline: none;
}

.fInput:focus::placeholder {
  color: rgb(0, 136, 255);
}

.fInput.email {
  z-index: 1;
}

.fInput.pass:focus {
  z-index: 2;
}

.submit {
  width: 100%;
  top: 60px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
}

.submit:focus + .email {
  display: none;
}

.login {
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 30px 0;
  position: absolute;
  top: 90px;
  left: 55px;
}

.submit:hover {
  opacity: 0.9;
}

.forget {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.151);
  margin-top: 15px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 50px;
}

.forget:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.con {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
  color: rgb(111, 103, 103);
  font-size: 13px;
  font-family: sans-serif;
  background-color: rgba(255, 0, 0, 0);
}

.con a {
  color: rgb(0, 136, 255);
}

/*  */
.custum-file-upload {
  margin: auto;
  position: relative;
  height: 160px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgb(151, 151, 151);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

/* continer-add-food */
.continer-add-food-margin-top {
  margin-top: 20px;
}

.continer-add-food {
  box-shadow: #0104ca4d 0px 0px 0px 2px;
  transition: 0.5s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  max-width: 500px;
  margin: auto;
  border-radius: 20px;
}

.continer-add-food:hover{
  transition: 0.5s ease-in-out;

  box-shadow: rgba(191, 0, 255, 0.17) 0px 0px 0px 4px;
}

.continer-add-food .food-name-add,
.description-food-add,
.box-price-and-active,
.submit-button {
  margin-top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-name-add > .name-food {
  font-weight: bold;
  margin-bottom: 10px;
  width: 240px;
  height: 40px;
  border-radius: 14px;
  border: none;
  background-color: #5d5d5d;
  font-size: large;
}
.food-name-add > .name-food::after {
  border: none;
}
.name-food {
  padding: 10px;
}

.description-food-add .description-text-add-food {
  font-weight: bold;

  padding: 20px;
  position: relative;
  width: 430px;
  height: 150px;
  border-radius: 14px;
  font-size: large;
  border: none;
}

.description-text-add-food::placeholder {
  font-weight: bold;
  font-size: 30px;
  padding: 32px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box-price-and-active {
  align-items: center;
  text-align: center;
  padding: 10px 5%;
  display: flex;
  justify-content: space-around;
}

.box-price-and-active .price-food {
  font-weight: bold;
  padding: 10px;
  width: 200px;
  height: 40px;
  border-radius: 14px;
  border: none;
  background-color: #5d5d5d;
  font-size: large;
}

input[type="checkbox"] {
  accent-color: #9b59b6;
  margin-left: 5px;
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.submit-button .submit-input {
  transition: 0.7s ease-in-out;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 14px;
  border: none;
  /* display: block; */
  height: 40px;
  width: 400px;
}

.submit-button {
  justify-content: center;
  display: flex;
  margin-bottom: 13px;
}

.submit-button .submit-input:hover {
  font-size: 17px;
  transition: 0.7s ease-in-out;
  width: 280px;
  background-color: #9b59b6;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  padding-right: 20px;
}

.title-add-food {
  margin-top: 6px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.title-add-food > span {
  margin-left: 10px;
  color: #ff0000;
}
/* continer hover */

